
InventoryControlConsole/.vs/InventoryControlConsole/v16/.suo
InventoryControlConsole/InventoryControlConsole/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
InventoryControlConsole/InventoryControlConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csproj.CoreCompileInputs.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csproj.FileListAbsolute.txt
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csprojAssemblyReference.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.exe
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.pdb
InventoryControlConsole/.vs/InventoryControlConsole/DesignTimeBuild/.dtbcache.v2
InventoryControlConsole/InventoryControlConsole/obj/Debug/DesignTimeResolveAssemblyReferences.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csproj.CopyComplete
InventoryControlConsole/InventoryControlModel/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
InventoryControlConsole/InventoryControlModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InventoryControlConsole/InventoryControlModel/obj/Debug/InventoryControlModel.csproj.CoreCompileInputs.cache
InventoryControlConsole/InventoryControlModel/obj/Debug/InventoryControlModel.csproj.FileListAbsolute.txt
InventoryControlConsole/InventoryControlModel/obj/Debug/InventoryControlModel.dll
InventoryControlConsole/InventoryControlModel/obj/Debug/InventoryControlModel.pdb
